{% extends 'base.html.twig' %}

{% block title %}New column{% endblock %}

{% block body %}
    <h1>Create new column on "{{ board.name }}" board</h1>

    {{ include('board/column/_form.html.twig', {'button_label': 'Create'}) }}
    <a href="{{ path('board_show', {'id': board.id}) }}">Back to board</a>
{% endblock %}
