.card a{
    color: #000;
    text-decoration: none!important;
}
.card:hover {
    transition: .3s;
    transform: scale(1.03);
}
.board-column-wrapper {
    display: flex;
    justify-content: space-between;
}
.column {
    max-width: 20%;
    min-width: 150px;
}
.close {
    font-size: 1rem;
}