{% extends 'base.html.twig' %}

{% block title %}Greeting{% endblock %}

{% block body %}
    <h1>Greeting</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Hello, {% if app.user.name is defined %}{{ app.user.name }}{% endif %}</p>
    {% endif %}
{% endblock %}