<form method="post" action="{{ path('member_delete', {id: board.id, memberId: member.id}) }}" onsubmit="return confirm('Are you sure you want to delete this member?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board.id ~ member.id) }}">
    <button class="btn"><i class="fas fa-user-minus"></i></button>
</form>
