<div class="row">
    {% for task in tasks %}
        <div class="col">
            <p><strong>{{ task.title }}</strong></p>
            <p>Estimate: <strong>{{ task.estimate }}</strong></p>
        </div>
    {% else %}
        <h4>No tasks on this board</h4>
    {% endfor %}
</div>
<a onclick="createEditTaskModal(this)" href="javascript:void(0);" title="Create task"
   data-ajax-url="{{ path('task_new', {'board': board.id}) }}"
   data-ajax-replace-id="modal-body"
   data-modal-title="Create task"
   data-modal-button="Create"
>Create task<i class="fas fa-plus"></i></a>
